<%-include('header')-%>

<%-include('nav')-%>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashbard </h2>
                    <p>Whole data about your business here</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span><%= revenue %></span>
                                <span class="text-sm">
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span><%= orders.length %></span>
                                <span class="text-sm">
                                    Excluding orders in transit
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-camera"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span><%= products.length %></span>
                                <span class="text-sm">
                                    In <%= category.length %> Categories
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-person"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Active Users</h6> <span><%= users.length %></span>
                                <span class="text-sm">
                                    Users that are not Blocked
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Sale statistics</h5>
                            <input type="hidden" value="<%= Ocount.Delivered %>" id="Delivered">
                            <input type="hidden" value="<%= Ocount.Pending %>" id="Processing">
                            <input type="hidden" value="<%= Ocount.Cancelled %>" id="Cancelled">
                            <input type="hidden" value="<%= Ocount.Returned %>" id="Returned">
                            <canvas id="mChart" height="120px"></canvas>
                        </article>
                    </div>
                    
                </div>
                <div class="col-xl-8 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Product statistics</h5>
                            
                            <input type="hidden" value="<%= JSON.stringify(Object.keys(Pcount)) %>" id="keys">
                            
                            <input type="hidden" value="<%= JSON.stringify(Object.values(Pcount)) %>" id="values">
                            
                            <canvas id="cChart" height="120px"></canvas>
                        </article>
                    </div>
                    
                </div>
                
            </div>
            
            
        </section> <!-- content-main end// -->
<!-- <script>
    const ordCount=<% JSON.stringify(Ocount)%>
</script> -->

<script>
  
  document.addEventListener("DOMContentLoaded", function () {
    // Get a reference to the canvas elements
    const mCtx = document.getElementById('mChart');
    const cCtx = document.getElementById('cChart');
    const del = parseFloat(document.getElementById('Delivered').value);
    const ret = parseFloat(document.getElementById('Returned').value);
    const canc = parseFloat(document.getElementById('Cancelled').value);
    const pend = parseFloat(document.getElementById('Processing').value);

    // Check if the canvas elements exist
    if (mCtx && cCtx) {
        new Chart(mCtx, {
            type: 'line',
            data: {
                labels: ['Delivered', 'Returned', 'Cancelled', 'In progress'],
                datasets: [{
                    label: 'Orders',
                    data: [del, ret, canc, pend], // Use the retrieved values
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const keys = JSON.parse(document.getElementById('keys').value);
        const values = JSON.parse(document.getElementById('values').value);

        new Chart(cCtx, {
            type: 'bar',
            data: {
                labels: keys,
                datasets: [{
                    label: 'Number of Products',
                    data: values,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                }],
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Number of Products',
                        },
                    },
                },
                plugins: {
                    legend: {
                        display: false,
                    },
                },
            },
        });
    }
});


  </script>
<%-include('footer')-%>