
<!-- SideBar Begins here-->
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin" class="brand-wrap">
                <img src="https://www.verifysoft.com/imagix_logo.jpg" class="logo" alt="Imagix Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item <%= isActive('/home') ? 'active' : '' %>">
                    <a class="menu-link" href="/admin/home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>

                
                <li class="menu-item <%= isActive('/users') ? 'active' : '' %>">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-person"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item <%= isActive('/products') ? 'active' : '' %>">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-camera"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item <%= isActive('/category') ? 'active' : '' %>">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-category"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item <%= isActive('/orders') ? 'active' : '' %>">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-category"></i>
                        <span class="text">Order</span>
                    </a>
                </li>
            </ul>
            <hr>
            <!-- <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul> -->
            <br>
            <br>
        </nav>
    </aside>
    <!-- SideBar Ends here -->

    <!-- NavBar Begins here -->
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <h2>Admin Panel</h2>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
    
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="https://icon-library.com/images/admin-icon/admin-icon-12.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <!-- <div class="dropdown-divider"></div> -->
                            <a class="dropdown-item text-danger" href="/admin/logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <!-- NavBar Ends here -->
      