<%-include('header')-%>
<style>
  .prd-bottom button{
    border-radius: 10px;
    border: none;
  }
  
</style>
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>PRODUCTS</h1>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->
<div class="container">
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-5">
      <div class="sidebar-categories">
      
    
      </div>
      
      <div class="sidebar-filter mt-50">
        <div class="top-filter-head">Product Filters</div>
        <form action="/products" method="get">
        <div class="common-filter">
          <div class="head">Category</div>
            <select id="category" class="form-select" name="category">
              <option value="">All Categories</option>
              <% cat.forEach(function(cat) { %>
                <option value="<%=cat._id %>" <% if(cat._id.toString() === categoryFilter) { %>selected<% } %>><%= cat.name %></option>
              <% }); %>
            </select>
          
        </div>
        <div class="common-filter">
          <div class="head">Brands</div>
          <select id="brand" name="brand" class="form-select">
            <option value="">All Brands</option>
            <% brand.forEach(function(brand) { %>
              <option value="<%= brand %>" <% if(brand === brandFilter) { %>selected<% } %>><%= brand %></option>
            <% }); %>
          </select>
        </div>
        <div><button type="submit" class="btn btn-warning mt-4">Apply Filters</button></div>
      </form>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-7">
      <!-- Start Filter Bar -->
      <div class="filter-bar d-flex justify-content-between align-items-center">
        <div class="sorting">
          <form method="get" action="/products">
            <input type="hidden" name="category" value="<%= categoryFilter %>">
            <input type="hidden" name="brand" value="<%= brandFilter %>">
            
            <select onchange="this.form.submit()" name="sort">
              <option value="0">Sort by</option>
              <option value="1" <% if (sort === 1) { %>selected<% } %>>Price: Low to High</option>
              <option value="-1" <% if (sort === -1) { %>selected<% } %>>Price: High to Low</option>
              <option value="2" <% if (sort === 2) { %>selected<% } %>>Brand: A-Z</option>
            </select>
          </form>
          
        </div>
        
        <div class="pagination">
          <% if (cp > 1) { %>
            <a href="/products?page=<%= cp - 1 %>&sort=<%= sort %>&category=<%= categoryFilter %>&brand=<%= brandFilter %>" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
          <% } %>
          

          <a href="javascript:void(0)" class="active" ><%= cp %></a>

          <% if (remain>0) { %>
            <a href="/products?page=<%= cp + 1 %>&sort=<%= sort %>&category=<%= categoryFilter %>&brand=<%= brandFilter %>" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
          <% } %>
          
        </div>
        
      </div>
      
      <!-- End Filter Bar -->
      <!-- Start Best Seller -->
      <section class="lattest-product-area pb-40 category-list">
        <div class="row">
          <!-- single product -->
          <% if(prods.length===0) { %>
            <div class="d-flex justify-content-center align-items-center " style="min-height: 30vh;min-width: 30vh;">
              <h2 class="text-warning">No Products</h2>
            </div>
          <%} else{ %>
          <% prods.forEach(function(prod, index) { %>
            
          <div class="col-lg-4 col-md-6">
            <div class="single-product">
              <img class="img-fluid" src="/productImages/<%= prod.images[0] %>" alt="">
              <div class="product-details">
                <h6><%= prod.brand +' '+ prod.name %></h6>
                  <div class="price">
                    <h6>Rs. <%= prod.salePrice %></h6>
                    <h6 class="l-through">Rs. <%= prod.regularPrice %></h6>
                  </div>
                  <div class="prd-bottom">
                    <form action="/addToCart" method="post" style="display: inline;">
                    <input type="hidden" value="<%= prod._id %>" name="id">
                    <button class="btn btn-danger btn-rounded" >Add to cart</button>
                  </form>
                    <button class="btn btn-primary btn-rounded"><a href="/productdetails?id=<%= prod._id %>" class="btn-w" style="text-decoration: none;color: white;">View More</a></button>
                  <!-- <a href="/productdetails?id=<%= prod._id %>" class="social-info">
                    <span class="lnr lnr-move"></span>
                    <p class="hover-text">view more</p>
                  </a> -->
                </div>
              </div>
            </div>
          </div>
          <% }); %>
          <% } %>
        </div>
      </section>
      <!-- End Best Seller -->
      <!-- Start Filter Bar -->

    </div>
  </div>
</div>



<%-include('footer')-%>