<%-include('header')-%>

<!-- start banner Area -->
<section class="banner-area" style="background-image: url(/bannerImages/<%= banner.image%>);background-size: cover;
  position: relative;">
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-start">
      <div class="col-lg-12">
        <!-- Single Banner Slide -->
        <div class="row single-slide align-items-center d-flex" >
          <div class="col-lg-5 col-md-6">
            <div class="banner-content">
              <h1><%= banner.title %></h1>
              <p><%= banner.description %></p>
              <!-- Add any additional content or buttons here -->
            </div>
          </div>
          
        </div>
        <!-- End of Single Banner Slide -->

        <!-- You can add more single banner slides here if needed -->
      </div>
    </div>
  </div>
</section>

<!-- End banner Area -->

<!-- start features Area -->
<section class="features-area section_gap">
  <div class="container">
    <div class="row features-inner">
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="img/features/f-icon1.png" alt="">
          </div>
          <h6>Express Delivery</h6>
          <p>Fast Shipping on all order</p>
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="img/features/f-icon2.png" alt="">
          </div>
          <h6>Return Policy</h6>
          <p>Flexible Return Policy</p>
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="img/features/f-icon3.png" alt="">
          </div>
          <h6>24/7 Support</h6>
          <p>Enhanced Customenr Support</p>
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="img/features/f-icon4.png" alt="">
          </div>
          <h6>Secure Payment</h6>
          <p>COD|UPI|CARDS</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end features Area -->

<!-- Start category Area -->

  
<section class="category-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12">
        <div class="row">
          <% if (cat[0]) { %>
          <div class="col-lg-8 col-md-8">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="https://th.bing.com/th/id/OIP.5w-5tYX-RyH9w3mZbHrGwQHaDt?pid=ImgDet&rs=1" alt="">
              <a href="img/category/c1.jpg" class="img-pop-up" target="_blank">
                <div class="deal-details">
                  <h6 class="deal-title"><%= cat[0].name %></h6>
                </div>
              </a>
            </div>
          </div>
          <% } %>
          <% if (cat[1]) { %>
          <div class="col-lg-4 col-md-4">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="https://th.bing.com/th/id/OIP.vKrQDUvxb9lLxFZl3a0Y6QHaHa?pid=ImgDet&rs=1" alt="">
              <a href="img/category/c2.jpg" class="img-pop-up" target="_blank">
                <div class="deal-details">
                  <h6 class="deal-title"><%= cat[1].name %></h6>
                </div>
              </a>
            </div>
          </div>
          <% } %>
          <% if (cat[2]) { %>
          <div class="col-lg-4 col-md-4">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="https://cdn.windowsreport.com/wp-content/uploads/2019/11/Camera-Bundles.jpg" alt="">
              <a href="img/category/c3.jpg" class="img-pop-up" target="_blank">
                <div class="deal-details">
                  <h6 class="deal-title"><%= cat[2].name %></h6>
                </div>
              </a>
            </div>
          </div>
          <% } %>
          <% if (cat[3]) { %>
          <div class="col-lg-8 col-md-8">
            <div class="single-deal">
              <div class="overlay"></div>
              <img class="img-fluid w-100" src="https://cdn.mos.cms.futurecdn.net/Pw3aLKMyrJiRKyX6zGhnV8-1200-80.jpg" alt="">
              <a href="img/category/c4.jpg" class="img-pop-up" target="_blank">
                <div class="deal-details">
                  <h6 class="deal-title"><%= cat[3].name %></h6>
                </div>
              </a>
            </div>
          </div>
          <% } %>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-md-6">
        <div class="single-deal">
          <div class="overlay"></div>
          <img class="img-fluid w-100" src="img/category/c5.jpg" alt="">
          <a href="img/category/c5.jpg" class="img-pop-up" target="_blank">
            <div class="deal-details">
              <h6 class="deal-title">Sneaker for Sports</h6>
            </div>
          </a>
        </div>
      </div> -->
    </div>
  </div>
</section>

<!-- End category Area -->

<!-- start product Area -->
<section class="owl-carousel active-product-area section_gap">
  <!-- single product slide -->
  <div class="single-product-slider">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-title">
            <h1>Our Products</h1>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua.</p> -->
          </div>
        </div>
      </div>
      <div class="row">
        <% prods1.forEach(function(prod, index) { %>
  
        <!-- single product -->
        <div class="col-lg-3 col-md-6">
          <div class="single-product">
            <img class="img-fluid" src="/productImages/<%= prod.images[0] %>" alt="">
            <div class="product-details">
              <h6><%= prod.brand +' '+ prod.name %></h6>
              <div class="price">
                <h6>Rs. <%= prod.salePrice %></h6>
                <h6 class="l-through">Rs. <%= prod.regularPrice %></h6>
              </div>
              <div class="prd-bottom">
                <form action="/addToCart" method="post" style="display: inline;">
                  <input type="hidden" value="<%= prod._id %>" name="id">
                  <button class="btn-danger btn-rounded" >Add to cart</button>
                </form>
                  <button class="btn-primary btn-rounded"><a href="/productdetails?id=<%= prod._id %>" style="text-decoration: none;color: white;">View More</a></button>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
  <!-- single product slide -->
  
  <div class="single-product-slider">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-title">
            <h1>Our Products</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <% prods2.forEach(function(prod, index) { %>
        <!-- single product -->
        <div class="col-lg-3 col-md-6">
          <div class="single-product">
            <img class="img-fluid" src="/productImages/<%= prod.images[0] %>" alt="">
            <div class="product-details">
              <h6><%= prod.brand +' '+ prod.name %></h6>
              <div class="price">
                <h6>Rs. <%= prod.salePrice %></h6>
                <h6 class="l-through">Rs. <%= prod.regularPrice %></h6>
              </div>
              <div class="prd-bottom">
                <form action="/addToCart" method="post" style="display: inline;">
                  <input type="hidden" value="<%= prod._id %>" name="id">
                  <button class="btn-danger btn-rounded" >Add to cart</button>
                </form>
                  <button class="btn-primary btn-rounded"><a href="/productdetails?id=<%= prod._id %>" style="text-decoration: none;color: white;">View More</a></button>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
        <!-- single product -->
    </div>
  </div>
</section>
<!-- end product Area -->

<!-- Start exclusive deal Area -->
<!-- <section class="exclusive-deal-area">
  <div class="container-fluid">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 no-padding exclusive-left">
        <div class="row clock_sec clockdiv" id="clockdiv">
          <div class="col-lg-12">
            <h1>Exclusive Hot Deal Ends Soon!</h1>
            <p>Who are in extremely love with eco friendly system.</p>
          </div>
          <div class="col-lg-12">
            <div class="row clock-wrap">
              <div class="col clockinner1 clockinner">
                <h1 class="days">150</h1>
                <span class="smalltext">Days</span>
              </div>
              <div class="col clockinner clockinner1">
                <h1 class="hours">23</h1>
                <span class="smalltext">Hours</span>
              </div>
              <div class="col clockinner clockinner1">
                <h1 class="minutes">47</h1>
                <span class="smalltext">Mins</span>
              </div>
              <div class="col clockinner clockinner1">
                <h1 class="seconds">59</h1>
                <span class="smalltext">Secs</span>
              </div>
            </div>
          </div>
        </div>
        <a href="" class="primary-btn">Shop Now</a>
      </div>
      <div class="col-lg-6 no-padding exclusive-right">
        <div class="active-exclusive-product-slider">
          <!-- single exclusive carousel 
          <div class="single-exclusive-slider">
            <img class="img-fluid" src="img/product/e-p1.png" alt="">
            <div class="product-details">
              <div class="price">
                <h6>$150.00</h6>
                <h6 class="l-through">$210.00</h6>
              </div>
              <h4>addidas New Hammer sole
                for Sports person</h4>
              <div class="add-bag d-flex align-items-center justify-content-center">
                <a class="add-btn" href=""><span class="ti-bag"></span></a>
                <span class="add-text text-uppercase">Add to Bag</span>
              </div>
            </div>
          </div>
          <!-- single exclusive carousel 
          <div class="single-exclusive-slider">
            <img class="img-fluid" src="img/product/e-p1.png" alt="">
            <div class="product-details">
              <div class="price">
                <h6>$150.00</h6>
                <h6 class="l-through">$210.00</h6>
              </div>
              <h4>addidas New Hammer sole
                for Sports person</h4>
              <div class="add-bag d-flex align-items-center justify-content-center">
                <a class="add-btn" href=""><span class="ti-bag"></span></a>
                <span class="add-text text-uppercase">Add to Bag</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- End exclusive deal Area -->

<!-- Start brand Area -->
<section class="brand-area section_gap">
  <div class="container">
    <div class="row">
      <a class="col single-img" href="#">
        <img class="img-fluid d-block mx-auto" src="https://logos-download.com/wp-content/uploads/2016/03/Canon_logo.png" alt="Canon">
      </a>
      <a class="col single-img" href="#">
        <img class="img-fluid d-block mx-auto" src="https://pluspng.com/img-png/nikon-logo-png-nikon-d500-camera-nikon-1-series-graphy-nikon-logo-png-pngwave-910x256.png" alt="Nikon">
      </a>
      <a class="col single-img" href="#">
        <img class="img-fluid d-block mx-auto" src="https://th.bing.com/th/id/R.3ad44b0ca3b9c1adf9bea3fb5cc99206?rik=RYn%2fnPeaw5DRNQ&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fsony-906.png&ehk=m%2foWvyhwLMUT6ZVkKfrFE7QOkfMFMY%2fYehUiT3Kaw8k%3d&risl=&pid=ImgRaw&r=0" alt="sony">
      </a>
      <a class="col single-img" href="#">
        <img class="img-fluid d-block mx-auto" src="https://logos-download.com/wp-content/uploads/2016/04/Kodak_logo_logotype_wordmark.png" alt="kodak">
      </a>
      <a class="col single-img" href="#">
        <img class="img-fluid d-block mx-auto" src="https://jmgsecurity.com/wp-content/uploads/2020/10/Panasonic_logo_black.png" alt="panasonic">
      </a>
    </div>
  </div>
</section>
<!-- End brand Area -->

<!-- Start related-product Area -->
<!-- <section class="related-product-area section_gap_bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <div class="section-title">
          <h1>Deals of the Week</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
            <div class="single-related-product d-flex">
              <a href="#"><img src="img/r1.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
            <div class="single-related-product d-flex">
              <a href="#"><img src="img/r2.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
            <div class="single-related-product d-flex">
              <a href="#"><img src="img/r3.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
            <div class="single-related-product d-flex">
              <a href="#"><img src="img/r5.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
            <div class="single-related-product d-flex">
              <a href="#"><img src="img/r6.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 mb-20">
            <div class="single-related-product d-flex">
              <a href="#"><img src="img/r7.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-related-product d-flex">
              <a href="#"><img src="img/r9.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-related-product d-flex">
              <a href="#"><img src="img/r10.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="single-related-product d-flex">
              <a href="#"><img src="img/r11.jpg" alt=""></a>
              <div class="desc">
                <a href="#" class="title">Black lace Heels</a>
                <div class="price">
                  <h6>$189.00</h6>
                  <h6 class="l-through">$210.00</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="ctg-right">
          <a href="#" target="_blank">
            <img class="img-fluid d-block mx-auto" src="img/category/c5.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- End related-product Area -->

<%-include("footer")-%>