<%-include('header')-%>
<style>
/* Add a style for the selected star */
.star:checked + label {
  color: #FFD700;
}

/* Style all stars */
.star {
  font-size: 24px;
  color: #ccc; /* Default star color */
  padding: 2px;
  cursor: pointer;
}
input[type="radio"] {
  visibility: hidden;
}

</style>
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>PRODUCT DETAILS</h1>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
<div class="product_image_area">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-6">
        <div class="s_Product_carousel">
          <% prod.images.forEach(function(image) { %>
            <div class="single-prd-item">
              <img class="img-fluid zoom" src="/productImages/<%= image %>" id="myimage" alt="Product Image">
            </div>
          <% }); %>
        </div>
      </div>
      
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
          <h3><%= prod.brand + ' ' +prod.name %></h3>
          <h2>Rs.<%= prod.salePrice %></h2>
          <ul class="list">
            <li><span class="font-weight-bold">Category</span> : <%= cat.name %></li>
            <li><span class="font-weight-bold">Availibility</span> : <% if (prod.stock>0) { %> <span class="text-success">In Stock</span><% } else { %> <span class="text-danger font-weight-bold">OUT OF STOCK</span> <% } %></li>
          </ul>
          <p><%= prod.description %></p>
          <form action="/addToCart" onclick="" method="post" id="cartform">
            <% if (prod.stock>0) { %>
          <div class="product_count">
            <!-- <label for="qty">Quantity:</label> -->
            <!-- <input type="number" min="1" id="qty" name="qty" value="1" onchange="updateQuantity(this, <%= prod.stock %>)"> -->
            <input type="hidden" value="<%= prod._id %>" name="id">
          </div>
          <div class="card_area d-flex align-items-center">
            <button type="button" class="primary-btn" onclick="triggerSweetAlert()">Add to Cart</button>
            </form>
            <!-- <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a> -->
            <a class="icon_btn" href="/addWish?id=<%= prod._id %>"><i class="lnr lnr lnr-heart"></i></a>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
  <div class="container" >
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <H5>Reviews</H5>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      
      <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
        <div class="row">
          <% if (prod.reviews.length===0) { %> 
          <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <h2>No reviews</h2> 
          </div>
          <% } else { %>
          <div class="col-lg-6">
            <div class="row total_rate">
              <div class="col-6">
                <div class="box_total">
                  <h5>Overall</h5>
                  <h4><%= prod.rating %></h4>
                  <h6>(<%= prod.reviews.length %> Reviews)</h6>
                </div>
              </div>
              
            </div>
            <div class="review_list mt-4">
              <hr>
              <% prod.reviews.forEach(function(rev) { %>
              <div class="review_item">
                <div class="media">
                  
                  <div class="media-body">
                    <h4><%= rev.userid.firstname+' '+rev.userid.lastname %></h4>
                    <% for (let i = 0; i < rev.rating; i++) { %>
                      <i class="fa fa-star"></i>
                    <% } %>
                  </div>
                </div>
                <p><%= rev.description %></p>
              </div>
              <hr>
              <% }) %>
            </div>
          </div>
          <% } %>
          
          <div class="col-lg-6">
            <div class="review_box">
              <form action="/addreview" method="post" onsubmit="return reviewSubmission()">
              <h4>Add a Review</h4>
              <p>Your Rating:</p>
              <div class="rating">
                <input type="radio" id="star1" name="rating" class="star" value="1">
                <label for="star1" title="1 stars"><i class="fa fa-star"></i></label>
                <input type="radio" id="star2" name="rating" class="star" value="2">
                <label for="star2" title="2 stars"><i class="fa fa-star"></i></label>
                <input type="radio" id="star3" name="rating" class="star" value="3">
                <label for="star3" title="3 stars"><i class="fa fa-star"></i></label>
                <input type="radio" id="star4" name="rating" class="star" value="4">
                <label for="star4" title="4 stars"><i class="fa fa-star"></i></label>
                <input type="radio" id="star5" name="rating" class="star" value="5">
                <label for="star5" title="5 stars"><i class="fa fa-star"></i></label>
              </div>
              
              <input type="hidden" name="productId" value="<%= prod._id %>">
             
              <!-- <form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate"> -->
                
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-control" name="description" id="description" rows="1" placeholder="Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'"></textarea></textarea>
                  </div>
                </div>
                <div class="col-md-12 text-right">
                  <button type="submit" value="submit" class="primary-btn" >Submit Now</button>
                </div>
              </form>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Product Description Area =================-->

<script>
  function reviewSubmission() {
    if(<%- reviewPossible %>){
      return reviewValidate()
    }else{
      Swal.fire({
      title: 'Error',
      text: 'Either this Product has not been ordered  or Review is already Submitted',
      icon: 'error',
    });
    // Prevent the form from submitting
    return false;
    }
    
  }
  function reviewValidate() {
  const rating = document.querySelector('input[name="rating"]:checked');
  const description = document.getElementById('description');

  if (!rating || !description.value) {
    // Show a SweetAlert notification
    Swal.fire({
      icon: 'error',
      title: 'Oops...',
      text: 'Enter full review information before submitting!',
    });
    return false; // Prevent form submission
  }
  return true; // Allow form submission
}


  function updateQuantity(inputElement, maxStock) {
    if (inputElement.value > maxStock) {
      inputElement.value = 1;
    }
  }
  function triggerSweetAlert() {
      Swal.fire({
        title: 'Add to Cart?',
        // text: 'Add to cart?',
        icon: 'info',
        showCancelButton: true,
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        preConfirm: () => {
          // Call the function to handle form submission
          document.getElementById('cartform').submit();
        },
      });
    }
    window.onload = () => {
  const stars = document.querySelectorAll('.star');

  stars.forEach((star) => {
    star.addEventListener('click', () => {
      const rating = star.getAttribute('value'); // Get the rating value
      

      // Update the style of the stars
      stars.forEach((s) => {
        if (s.getAttribute('value') <= rating) {
          s.nextElementSibling.style.color = '#FFD700'; // Set selected stars to yellow
        } else {
          s.nextElementSibling.style.color = '#ccc'; // Set unselected stars to default color
        }
      });
    });
  });
};

</script>


<%-include('footer')-%>